<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adictic.client">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name="com.adictic.client.util.AdicticApp"
        android:allowClearUserData="false"
        android:allowBackup="false"
        android:icon="@mipmap/adictic_logo"
        android:label="@string/adictic"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/adictic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:label,android:allowBackup,android:icon,android:roundIcon,android:theme">
        <activity
            android:name="com.adictic.client.ui.chat.ChatActivity"
            android:label="@string/title_activity_dubte"
            android:theme="@style/AppTheme.NoActionBarBlue" />
        <activity
            android:name="com.adictic.client.ui.main.NavActivity"
            android:label="@string/title_activity_nav" />
        <activity android:name="com.adictic.client.ui.inici.Login" />
        <activity
            android:name="com.adictic.client.ui.BlockAppActivity"
            android:noHistory="true"
            android:launchMode="singleInstance" />
        <activity android:name="com.adictic.client.ui.inici.Register" />
        <activity android:name="com.adictic.client.ui.inici.NomFill" />
        <activity android:name="com.adictic.common.ui.DayUsageActivity" />
        <activity
            android:name="com.adictic.client.ui.inici.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.adictic.client.service.ClientFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.adictic.client.service.AccessibilityScreenService"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service android:name="com.adictic.client.service.ForegroundService" android:foregroundServiceType="location" android:stopWithTask="false" />

        <!-- DEVICE ADMIN POLICIES -->
        <activity android:name="com.adictic.client.ui.support.PreguntesFrequents" />
        <activity android:name="com.adictic.client.ui.support.InformationActivity" />
        <activity android:name="com.adictic.client.ui.chat.ClosedChatActivity"
            android:theme="@style/AppTheme.NoActionBarBlue"/>
        <activity android:name="com.adictic.client.ui.setting.TemporalPasswordChangeActivity" />
        <activity android:name="com.adictic.client.ui.inici.Permisos" />
        <activity android:name="com.adictic.client.ui.inici.AppLock" />
        <activity android:name="com.adictic.client.ui.BlockDeviceActivity"
            android:noHistory="true"
            android:launchMode="singleInstance" />
        <activity android:name="com.adictic.client.ui.inici.PermisosMIUI" />

        <receiver android:name="com.adictic.client.receiver.checkInstalledApps"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.adictic.client.receiver.DateTimeChangedBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.ACTION_TIMEZONE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.ACTION_TIME"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.adictic.client.receiver.StartServiceOnBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.adictic.client.ui.inici.Permisos$MyDevicePolicyReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action." />
            </intent-filter>
        </receiver>
        <receiver android:name="com.adictic.client.service.AccessibilityScreenService$ScreenLockReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>