<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adictic">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".util.TodoApp"
        android:allowClearUserData="true"
        android:allowBackup="true"
        android:icon="@mipmap/adictic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/adictic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:icon">
        <activity
            android:name=".ui.chat.ChatActivity"
            android:label="@string/title_activity_dubte"
            android:theme="@style/AppTheme.NoActionBarBlue" />
        <activity
            android:name=".ui.main.NavActivity"
            android:label="@string/title_activity_nav" />
        <activity android:name=".ui.inici.Login" />
        <activity
            android:name=".ui.BlockScreenActivity"
            android:noHistory="true" />
        <activity android:name=".ui.inici.Register" />
        <activity android:name=".ui.inici.NomFill" />
        <activity android:name=".ui.permisos.AppUsagePermActivity" />
        <activity android:name=".ui.permisos.AccessibilityPermActivity" />
        <activity android:name=".ui.DayUsageActivity" />
        <activity
            android:name=".ui.inici.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.WindowChangeDetectingService"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service> <!-- DEVICE ADMIN POLICIES -->
        <activity android:name=".ui.permisos.DevicePolicyAdmin" />
        <activity android:name=".ui.HorarisActivity" />
        <activity android:name=".ui.BlockAppsActivity" />
        <activity android:name=".ui.informe.InformeActivity" />
        <activity android:name=".ui.support.PreguntesFrequents" />
        <activity android:name=".ui.support.InformationActivity" />
        <activity android:name=".ui.events.EventsActivity" />
        <activity android:name=".ui.support.OficinesActivity" />
        <activity android:name=".ui.GeoLocActivity" />
        <activity android:name=".ui.chat.ClosedChatActivity"
            android:theme="@style/AppTheme.NoActionBarBlue"/>
        <activity android:name=".ui.AdminProfileActivity" />
        <activity android:name=".ui.main.ChangePasswordActivity" />
        <activity android:name=".ui.permisos.BackgroundLocationPerm" />

        <receiver
            android:name=".ui.permisos.DevicePolicyAdmin$MyDevicePolicyReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action." />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.checkInstalledApps">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DateTimeChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.ACTION_TIMEZONE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.ACTION_TIME"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>